  <%= form_with(model: timetracking, local: true, id: 'timetracking_form') do |form| %>
    <% if timetracking.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(timetracking.errors.count, "error") %> prohibited this timetracking from being saved:</h2>

        <ul>
        <% timetracking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.hidden_field :latitude, id: :timetracking_latitude %>
    </div>

    <div class="form-group">
      <%= form.hidden_field :longitude, id: :timetracking_longitude %>
    </div>

    <div class="form-group">
      <%= form.hidden_field :checkin, id: :timetracking_checkin %>
    </div>

    <div class="form-group">
      <%= form.hidden_field :duration, id: :timetracking_duration %>
    </div>

    <div class="form-group">
      <%= form.hidden_field :checkout, id: :timetracking_checkout %>
    </div>

    <div class="form-group">
      <%= form.text_area :comment, id: :timetracking_comment, class: 'form-control', rows:"8"%>
    </div>
  <% end %>

  <button onclick="submitForm()" id='form-submit', class="btn btn-success">Check-in</button>

<%= render 'scripts', timetracking: timetracking %>
