<%= flash_notice %>

<div class="show-container">
  <div class="buttons-container">
    <%= link_to 'Back', timetrackings_path, class: 'btn btn-warning' %>
  </div>

  <dl>
    <dt>Latitude:</dt>
    <dd>
      <%= @timetracking.latitude %>
    </dd>

    <dt>Longitude:</dt>
    <dd>
      <%= @timetracking.longitude %>
    </dd>

    <dt>Check-in:</dt>
    <dd>
      <%= Time.at(@timetracking.checkin/1000).strftime("%Y-%m-%d %I:%M:%S") %>
    </dd>

    <dt>Check-out:</dt>
    <dd>
      <% if @timetracking.checkout.present? %>
      <%= Time.at(@timetracking.checkout/1000).strftime("%Y-%m-%d %I:%M:%S") %>
    <% end %>
    </dd>

    <dt>Duration:</dt>
    <dd>
      <% if @timetracking.duration.present? %>
      <%= Time.at(@timetracking.duration/1000).strftime("%H:%M:%S") %>
    <% end %>
    </dd>

    <dt>Comment:</dt>
    <dd>
      <% if @timetracking.comment.present? %>
      <%= @timetracking.comment %>
    <% end %>
    </dd>

    <dt>Place:</dt>
    <dd>
      <div id="map"></div>
    </dd>
  </dl>
</div>

<%= render 'show_scripts', timetracking: @timetracking %>

